<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>Adicione um <br>novo pensamento:</h2>
  </header>

  <form>
    <label for="pensamento">Pensamento</label>
    <input type="textarea" id="pensamento" name="pensamento" class="pensamento" placeholder="Digite aqui seu pensamento">

    <label for="autoria">Autoria ou Fonte</label>
    <input type="text" name="autoria" id="autoria" class="autoria" placeholder="Insira aqui o autor(a) ou fonte">

    <label for="modelo">Selecione o modelo do card: </label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="modelo1">
          <input type="radio" name="modelo-card" id="modelo1" value="modelo1">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/img/modelo1.png" alt="aspas azul escuro">
          <p class="conteudo">Aqui vai o pensamento</p>
          <p class="autoria"><b>Aqui vai a autoria</b></p>
        </div>
      </div>
      <div class="radio-modelo">
        <label for="modelo1">
          <input type="radio" name="modelo-card" id="modelo1" value="modelo1">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        <div class="modelo modelo2 ff-roboto-mono">
          <img src="../../../../assets/img/modelo2.png" alt="aspas azul claro">
          <p class="conteudo">Aqui vai o pensamento</p>
          <p class="autoria"><b>Aqui vai a autoria</b></p>
        </div>
      </div>
      <div class="radio-modelo">
        <label for="modelo1">
          <input type="radio" name="modelo-card" id="modelo1" value="modelo1">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        <div class="modelo modelo3 ff-roboto-mono">
          <img src="../../../../assets/img/modelo3.png" alt="aspas verdes">
          <p class="conteudo">Aqui vai o pensamento</p>
          <p class="autoria"><b>Aqui vai a autoria</b></p>
        </div>
      </div>
    </div>
  </form>
</section>
