<div class="pensamento ff-roboto-mono {{ pensamento.modelo }}" [ngClass]="tamanhoPensamento()">
  <img src="../../../../assets/img/{{ pensamento.modelo }}.png" alt="aspas">
  <p class="conteudo">{{ pensamento.conteudo }}</p>
  <p class="autoria"><b>{{ pensamento.autoria }}</b></p>
  <div class="acoes">
    <button class="botao-editar">
      <img src="../../../../assets/img/icone-editar.png" alt="icone de editar">
    </button>
    <button class="botao-excluir" routerLink="/pensamentos/excluirPensamento/{{pensamento.id}}">
      <img src="../../../../assets/img/icone-excluir.png" alt="icone de excluir">
    </button>
  </div>
</div>
